{% extends "mail_templated/base.tpl" %}

{% block subject %}
{{dapps.items|length}} Dapp Alerts
{% endblock %}

{% block body %}
    {% block html %}
        We have detected a few transaction events you were subscribed to:
        {% for dapp, dapp_logs in dapps.items %}
            Dapp {{dapp}} had {{dapp_logs|length}} events:
            <ul>
            {% for log in dapp_logs.logs %}
                <li>
                    Event {{ log.name }} triggered by contract {{ log.address }}
                    <ul>
                        {% for param in log.params %}
                            <li>
                                {{ param.name }} : {{ param.value }}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>

            <a href='{{ unsubscribe_url }}{{ dapp_logs.authentication_code }}'>Unsubscribe</a>.
        {% endfor %}
    {% endblock %}

{% endblock %}