{% extends 'views/base.html' %}
{% block container %}

    {% if message %}
        {{ message }}
    {% endif %}

    {% if dapp %}
        <form role="form" action="" method="post">
            {% csrf_token %}
            <p>
                <b>DAPP</b>: {{ dapp.name }}
                <input type="hidden" name="operation_type" value="DELETE" />
                <input type="submit" value="Delete DApp" />
            </p>
        </form>
        {% if alerts %}
            {% for alert in alerts %}
                <div>
                    <p>Contract: {{ alert.contract }}</p>
                </div>

                <form role="form" action="" method="post">

                {% csrf_token %}

                {% for abi in alert.abi %}
                    {% if abi.name in alert.selected_events %}
                        <input type="checkbox" name="{{ abi.name }}" checked />{{ abi.name }}<br/>
                    {% else %}
                        <input type="checkbox" name="{{ abi.name }}"/>{{ abi.name }}<br/>
                    {% endif %}
                {% endfor %}

                <input type="hidden" name="contract" value="{{ alert.contract }}" />
                <input type="submit" value="Save" />

                </form>
            {% endfor %}
        {% else %}
            <p>There are no alerts for this DAPP.</p>
        {% endif %}

        {% if contract_errors and contract_errors|length > 0 %}
            <ul>
                {% for error in contract_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form role="form" action="" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <td>Contract address</td>
                    <td>
                        <input type="text" name="contract" />
                    </td>
                </tr>
                <tr>
                    <td>ABI</td>
                    <td>
                        <textarea name="abi"></textarea>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <input type="submit" value="Create" />
                    </td>
                </tr>
            </table>
            <input type="hidden" name="operation_type" value="ADD_CONTRACT" />
        </form>

    {% endif %}
{% endblock %}