{% extends 'views/base.html' %}
{% block container %}

    {% if message %}
        {{ message }}
    {% endif %}

    {% if dapp %}
        <form role="form" action="" method="post">
            {% csrf_token %}
            <p>
                <b>DAPP</b>: {{ dapp.name }}
                <input type="hidden" name="operation_type" value="DELETE" />
                <input type="submit" value="Delete DApp" />
            </p>
        </form>
        {% if alerts %}
            {% for alert in alerts %}
                <div>
                    <p>Contract: {{ alert.contract }}</p>
                </div>

                <form role="form" action="" method="post">

                {% csrf_token %}

                {% for abi in alert.abi %}
                    {% if abi.name in alert.selected_events %}
                        <input type="checkbox" name="{{ abi.name }}" checked />{{ abi.name }}<br/>
                    {% else %}
                        <input type="checkbox" name="{{ abi.name }}"/>{{ abi.name }}<br/>
                    {% endif %}
                {% endfor %}

                <input type="hidden" name="contract" value="{{ alert.contract }}" />
                <input type="submit" value="Save" />

                </form>
            {% endfor %}
        {% else %}
            <p>There are no alerts for this DAPP.</p>
        {% endif %}
    {% endif %}
{% endblock %}