<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% block title %}
        <title>Gnosis Alerts Admin</title>
    {% endblock %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/gnosis-bootstrap.css'  %}">
    <link rel="stylesheet" href="{% static 'css/style.css'  %}">
    <script src="{% static 'libs/jquery-3.2.0.min.js' %}"></script>
    <script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>

</head>
<body>
{% block body %}
    <div class="container">
        {% block container %}{% endblock %}
    </div>
{% endblock %}

<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'libs/jquery-3.2.0.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>